-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :id => 'ratings_form', :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, @selected_ratings.include?(rating)
    = hidden_field_tag 'sort', @sort
  = submit_tag 'Refresh', :id => 'ratings_submit'

%table#movies
  %thead
    %tr
      - if @sort == 'title'
        %th.hilite
          %a#title_header{:href => movies_path(:sort => :title)}> Movie Title
      - else
        %th
          %a#title_header{:href => movies_path(:sort => :title)}> Movie Title
      %th Rating
      - if @sort == 'release_date'
        %th.hilite
          %a#release_date_header{:href => movies_path(:sort => :release_date)}> Release Date
      - else
        %th
          %a#release_date_header{:href => movies_path(:sort => :release_date)}> Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
